<h4>以下の名前とメールアドレスで登録しています</h4>
<p><%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>

<% if logged_in? %>
  <p><%= link_to '一覧へ', feeds_path %></p>
  <p><%= link_to '新規投稿へ', new_feed_path %></p>
<% end %>
